@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,700');

:root {
  --fullwhite: #fff;
  --white: #E0E0E0;
  --black: #000000;
  --highlight: #8D021F;
  --blackopaq: #8D021F1a;
  --gray: #787878;
  --highlight: #8D021F;
  --footer: #f7f7f7;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
  overflow: hidden;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  padding-top: 4rem;
  min-width: 325px;
  overflow: hidden;
}

/* make it work */
@media (max-width: 325px) {
  .app body {
    overflow: auto;
  }
}


/* Navigation */
.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 325px;
  height: 3rem;

  background-color: var(--white);
  color: var(--black);
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation .branding {
  height: 100%;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;

  display: flex;
  align-items: center;

  font-size: 21px;
  font-weight: bold;
  color: var(--highlight);
}

.navigation .menu {
  height: 100%;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;

  display: flex;
  align-items: center;
}

.navigation .menu-list {
  list-style: none;
  padding: 0;
}

.navigation .menu-list li {
  display: inline;
  margin-right: 20px;
}

.navigation .menu-link {
  color: var(--black);
  text-decoration: none;
  transition: color 0.3s ease;
}

.navigation .menu-link:hover {
  color: var(--highlight);
}

.navigation .menu-link.active {
  font-weight: bold;
  color: var(--highlight);
}

/* Gallery */

.gallery {
  margin: auto;
  width: 90%;
  height: 80vh;

  background-color: var(--blackopaq);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  backdrop-filter: blur(10px);
}

.gallery-main {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  padding: 4rem;
  box-sizing: border-box;
  overflow-y: auto;
}

.gallery-topbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 2rem;
  backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.gallery-bottombar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2rem;
  box-shadow: rgba(0, 0, 0, 0.18) 0px -2px 4px;
  backdrop-filter: blur(5px);
}

.gallery-item {
  position: relative;
  overflow: hidden;
  flex: auto;
  width: 30%;
  height: 375px;
  border: 1px solid var(--gray);
  border-radius: 10px;
  padding: 0;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.gallery-item .img-container {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin: 0;

  height: 100%;
}

.gallery-item .img-container:hover {
  transform: scale(1.05);
}

.gallery-item .gallery-image {
  width: 100%;
  height: 100%;
  display: block;
}

.gallery-item .img-content,
.gallery-item .img-content-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery-item .img-content {
  z-index: 1;
}

.gallery-item .img-content-hover {
  background-color: #8d0220e2;
  backdrop-filter: blur(5px);
  width: 90%;
  padding: 40px 20px;
  border-radius: 5px;
  box-sizing: border-box;
  z-index: 2;
}

.gallery-item:hover .img-content-hover {
  opacity: 1;
}

.gallery-item .title,
.gallery-item .category {
  color: var(--white);
  margin: 0;
}

.gallery-item .category {
  font-size: 1rem;
}

.gallery-item .description {
  color: #ccc;
}

.floating-button {
  position: fixed;
  bottom: 4rem;
  width: 100%;
  min-width: 325px;
  text-align: center;
}

.btn {
  background-color: var(--highlight);
  color: var(--white);
  border: none;
  border-radius: 1rem;
  padding: 0.8rem;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition:  0.3s ease-in-out;
}

.btn:hover {
  scale: 1.05;
}


/* Footer */
.footer {
  position: fixed;
  width: 100%;
  min-width: 325px;
  bottom: 0;
  background-color: var(--highlight);
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  height: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.footer .social{
  display: flex;
  height: 0.8rem;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 10px;
}


.footer .social li {
  font-size: 14px;
  
}

.footer .social li a {
  color: var(--white);
  transition: 0.3s ease-in-out;
}

.footer .social li a:hover {
  font-size: 16px;
}

.footer .copyright {
  font-size: 12px;
  color: var(--white);
  height: 100%;

}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--highlight); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  rgb(144, 3, 3);
}

